body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

 a {
  text-decoration: none;
}

img {
    display: block;
}

.address {
  font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}



.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;

}

.header-conteiner {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex; 
    align-items: center;
}

.container .logo {
    display: inline-block;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding-top: 24px;
padding-bottom: 24px;
margin-right: 76px;
}

.logo-part {   
color: #2e2f42;  
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
position: relative;
color: #404bbf;
}

.current::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}



.nav-link:hover,
.nav-link:focus {
    color: #404bbf;

}

.address {
margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf
}

.hero {
    padding: 188px 0;
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
rgba(46, 47, 66, 0.7)),url(../images/table.jpg);
    margin: 0 auto;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}


.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff; 
    max-width: 496px; 
margin: 0 auto 48px auto;
}



.hero-title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
cursor: pointer;
margin: 0 auto;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
display: block;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.hero-title-button:hover,
.hero-title-button:focus { 
    background: #404bbf;
}
.drs-cont {
   padding-top: 120px;
    padding-bottom: 120px; 
    
}

.drs {
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

.drs-item {
    width: calc((100% - 3 * 24px) / 4);
}

.wrap-icon {
    background: #f4f4fd;
    border: 1px solid #8e8f99;
border-radius: 4px;
    /* padding: 24px 100px; */
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 112px;
}

.icon {
margin: auto;
}

.drc-list {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.drc-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;

}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-list-fon {
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize; 
color: #2e2f42;
margin-bottom: 72px;
}


.name {
    padding: 32px 0 
}

.team-list-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}


.team-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.elips-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    
}

.elips {
    width: 40px;
    height: 40px;
    position: relative;
    top: 16px;
    left: 16px;
    
}

.icons-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.soc-icons {
    fill: #f4f4fd;
     position: absolute;
     top: 12px;
     left: 12px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover {
    background-color: #404bbf;
}

.icons-link:focus {
    background-color: #404bbf;
}

.icons-link:active {
    background-color: #404bbf;
}



.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
    
}

.firs-element {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.firs-element:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.firs-element:hover .new-text {
    transform: translateY(0%);
}

.portfolio-img-list {
    position: relative;
    overflow: hidden;
}

.new-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap-product {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.first-footer {
    margin-right: 120px;
}

.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;
}

.second-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px; 

}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px; 
}
.footer .logo-footer {
    color: #f4f4fd;
    
}

.footer-soc {
    display: flex;
    gap: 16px;
}

.icons-footer {
    width: 40px;
    height: 40px;

   
}


.link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
    background-color: #31d0aa;
}

.link-footer {
    fill: #f4f4fd;
}