 body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

 a {
  text-decoration: none;
}

img {
    display: block;
}

.address {
  font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}



.header {
    
    border-bottom: 1px solid #e7e9fc;
}

.header-conteiner {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex; 
    align-items: center;
}

.container .logo {
    display: inline-block;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding-top: 24px;
padding-bottom: 24px;
margin-right: 76px;
}

.logo-part {   
color: #2e2f42;  
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;

}

.address {
margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf
}

.hero {
    background: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7) 
    ), url(../images/people-officу-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff; 
    max-width: 496px; 
margin: 0 auto 48px auto;
}

.hero {
    
}

.hero-title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
cursor: pointer;
margin: 0 auto;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
display: block;
border: none;
}

.hero-title-button:hover,
.hero-title-button:focus { 
    background: #404bbf;
}
.drs-cont {
   padding-top: 120px;
    padding-bottom: 120px; 
    
}


.drs {
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

.drs-item {
    width: calc((100% - 3 * 24px) / 4);
}

.drc-list {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.drc-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;

}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.team-list-fon {
    background: #fff;
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize; 
color: #2e2f42;
margin-bottom: 72px;
}



.name {
    padding: 32px 0 
}

.team-list-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}


.team-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.elips-icons {
    display: flex;
    gap: 24px;
    margin-top: ;
}

.elips {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
}

.soc-icons {
    fill: #f4f4fd; 

    
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.firs-element {
    width: calc((100% - 48px) / 3);
}


.wrap-product {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;

}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px; 
}
.footer .logo-footer {
    color: #f4f4fd;
    
}


