body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

 a {
  text-decoration: none;
}

img {
    display: block;
}

.address {
  font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}



.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;

}

.header-conteiner {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex; 
    align-items: center;
}

.container .logo {
    display: inline-block;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

margin-right: 76px;
}

.logo-part {   
color: #2e2f42;  
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
position: relative;
color: #404bbf;
}

.current::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}



.nav-link:hover,
.nav-link:focus {
    color: #404bbf;

}

.address {
margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf
}

.hero {
    padding: 188px 0;
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
rgba(46, 47, 66, 0.7)),url(../images/table.jpg);
    margin: 0 auto;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}


.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff; 
    max-width: 496px; 
margin: 0 auto 48px auto;
}



.hero-title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
cursor: pointer;
margin: 0 auto;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
display: block;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.hero-title-button:hover,
.hero-title-button:focus { 
    background: #404bbf;
}
.drs-cont {
   padding-top: 120px;
    padding-bottom: 120px; 
    
}

.drs {
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

.drs-item {
    width: calc((100% - 3 * 24px) / 4);
}

.wrap-icon {
    background: #f4f4fd;
    border: 1px solid #8e8f99;
border-radius: 4px;
    /* padding: 24px 100px; */
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 112px;
}

.icon {
margin: auto;
}

.drc-list {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.drc-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;

}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-list-fon {
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize; 
color: #2e2f42;
margin-bottom: 72px;
}


.name {
    padding: 32px 0 
}

.team-list-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}


.team-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}

.elips-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    
}

.elips {
    width: 40px;
    height: 40px;
    
    
}

.icons-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icons {
    fill: #f4f4fd;
     
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover {
    background-color: #404bbf;
}

.icons-link:focus {
    background-color: #404bbf;
}

.icons-link:active {
    background-color: #404bbf;
}



.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
    
}

.firs-element {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.firs-element:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.firs-element:hover .new-text {
    transform: translateY(0%);
}

.portfolio-img-list {
    position: relative;
    overflow: hidden;
}

.new-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap-product {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.first-footer {
    margin-right: 120px;
}

.second-footer {
    margin-right: 120px;
}

.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;
}

.second-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px; 

}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px; 
}
.footer .logo-footer {
    color: #f4f4fd;
    
}

.footer-soc {
    display: flex;
    gap: 16px;
}

.icons-footer {
    width: 40px;
    height: 40px;  
}


.link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
    background-color: #31d0aa;
}

.i-footer {
    fill: #f4f4fd;
}

.third-footer {

}

.form-footer {
    display: flex;
    gap: 24px;
}

.email-footer-input {
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: transparent;
padding-left: 16px;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff; 
}

.email-footer-input::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding: 8px 16px;
color: #ffffff;
}

.footer-btn {
   border-radius: 4px;
padding: 8px 64px 8px 24px;
min-width: 165px;
height: 40px; 
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
position: relative;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
border: none;
}

.footer-btn-icon {
    position: absolute;
    transform: translateX(50%);
    top: 10px;
    right: 24px;
    margin-left: 16px;
}

/* beackdrop---------------- */
.beackdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
border-radius: 4px;
width: 408px;
min-height: 584px;
position: absolute;
transform: translate(-50%, -50%) scale(1);
top: 50%;
left: 50%;
padding: 72px 24px 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    border-radius: 50%;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
width: 24px;
height: 24px;
position: absolute;
top: 24px;
right: 24px;
line-height: 0;
padding: 0;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-im {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover > .btn-close-im,
.modal-close-btn:focus > .btn-close-im {
    fill: #fff;
}

.modal-title {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px; 
}

.modal-form {

}

.modal-content {
margin-bottom: 8px;
}

.wrap-four {
    margin-bottom: 16px;
}

.label-text {
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}


.input {
   width: 100%;
    position: relative;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent; 
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus {
    border: 1px solid #4d5ae5;
    
}


.input:hover + .icon-input {
    fill: #4d5ae5;
}

.input:focus + .icon-input {
    fill: #4d5ae5;
}

.modal-input-wrap {
    position: relative;
    padding-top: 4px;
    
}

.icon-input {
    fill: #2e2f42;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.icon-select {
    fill: #4d5ae5;
}

/* .input-select {
    border: 1px solid #4d5ae5;
} */

.area-input {
    width: 100%;
    min-height: 120px;
    padding:  8px 16px;
    border-radius: 4px;
    resize: none;
    margin-top: 4px;
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent; 
border: 1px solid rgba(46, 47, 66, 0.4);
outline: transparent; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.area-input:focus {
    border-color: #4D5AE5;
}

.area-input::placeholder {
    


}

.checkbox-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.checkbox-text {
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;

align-items: center;
justify-content: center;
}

.link-policy {
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
width: 16px;
height: 16px;
margin-right: 8px;
fill: transparent;
display: inline-flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-form {
line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
padding-left: 3px;
}

.bird {
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
}

.bird:checked + .checkbox-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.bird-icon {
    fill: #f4f4fd;
}

.btn-form-submit {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
border: none;
margin: 0 auto;
display: block;
align-self: center;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

